@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestor de Recetas | Ingreso</title>

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Local style -->
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="login-page fondo" style="display: flex;align-items: center;">
    <div class="login-box" style="margin-left: auto;margin-right: auto;">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary recuadroLogin">
            <div class="card-header text-center headerLogin">
                <div>
                    <img src="~/img/Titulo.png" alt="Logo Compañía" width="400" height="80"/>
                </div>
                <p class="h2 tituloLogin"><b>Gestor de Recetas</b></p>
            </div>
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <p class="login-box-msg">Conéctese para iniciar su sesión</p>
                </div>
                
                <form action="javascript:;" enctype="multipart/form-data" onsubmit="iniciarSesion(this)">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="Usuario" value="" placeholder="Usuario..." required />
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="Clave" value="" placeholder="Contraseña..." required />
                    </div>
                    <div class="row justify-content-md-center">
                        <h6 id="Error" style="color:red;" hidden>
                            Usuario y/o Contraseña inválida.
                        </h6>
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" id="btnLogin" class="btn btn-primary btn-block botonLogin">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <!-- /.login-box -->
    <!-- Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- SweetAlert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <!-- Funciones del Sitio-->
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        var Ruta = '@ViewBag.Ruta'

        /*
            Funcionalidad que valida los datos de entrada para iniciar sesión en el sistema
        */
        function iniciarSesion() {
            var Usuario = $("#Usuario").val();
            var Contra = $("#Clave").val();

            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/IniciarSesion/",
                data: { inUsuario: Usuario, inContrasena: Contra }
                ,

                beforeSend: function () {

                },
                success: function (result) {
                    try {
                        if (result == 0) {
                            $("#Usuario").val("");
                            $("#Clave").val("");

                            window.location = "@Url.Action("Inicio","Home")";

                            $("#Error").attr("hidden", true);
                        } else {
                            $("#Error").attr("hidden", false);
                        }
                    }
                    catch (error) {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al iniciar sesión</h5>'
                        });
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al iniciar sesión</h5>'
                    });
                }
            });
        }
    </script>


</body>
</html>