@{
    ViewData["Title"] = "Gestión de Recetas";
}

<div class="">
    <div class="">
        <div class="row">
            <div class="col-md-2">
                <h5>Área:</h5>
            </div>
            <div class="col-md-3">
                <select id="reporte" required class="form-control">
                    <option value="">-- Seleccione un departamento --</option>
                    @foreach (var departamento in Model)
                    {
                        <option value="@departamento.IdDepartamento">@departamento.Nombre</option>
                    }
                </select>
            </div>

            <div class="col-md-2">
                <h5>Subarea:</h5>
            </div>
            <div class="col-md-3">
                <select id="reporte" required class="form-control">
                </select>
                <select id="reporte" required class="form-control">
                    <option value="">-- Seleccione un subdepartamento --</option>
                </select>
            </div>
        </div>

        <hr />
        
        <div class="row">
            <div class="ContenidoTablaRecetas">
                <table id="TablaRecetas" class="table-hover table-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <td hidden>Id</td>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="cuerpoRecetas"></tbody>
                </table>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            cargarRecetas();
        });

        var table = $('#TablaRecetas').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "paging": false
        });



        function cargarRecetas() {
            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/listarRecetas/",
                success: function (data) {
                    try {
                        var json = JSON.parse(data);
                        table.clear().draw();

                        for (var i in json) {

                            table.row.add($("<tr>" +
                                "<td hidden>" + json[i].id + "</td>" +
                                "<td>" + json[i].nombre + "</td>" +
                                "<td>" + json[i].descripcion + "</td>" +
                                
                                "<td><a class='btn btnPrincipal' ><i class='fa-solid fa-pen-to-square' title='Editar'></i></a></td>" +
                                "<td><a class='btn btnPrincipal' ><i class='fa-solid fa-delete-left' title='Eliminar'></i></a></td>" +

                                "</tr > ")).draw(false);

                        }
                    }
                    catch (error) {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al cargar las recetas</h5>'
                        });
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al cargar las recetas</h5>'
                    });
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $.getJSON("/Home/ObtenerDepartamentos", function (data) {
                var options = "";
                $.each(data, function (key, departamento) {
                    options += "<option value='" + departamento.idDepartamento + "'>" + departamento.nombre + "</option>";
                });
                $("#nominas").append(options);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $.getJSON("/Home/ObtenerSubDepartamentos", function (data) {
                var options = "";
                $.each(data, function (key, subdepartamento) {
                    options += "<option value='" + subdepartamento.idDepartamento + "'>" + subdepartamento.nombre + "</option>";
                });
                $("#reporte").append(options);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#nominas").change(function () {
                var departamentoId = $(this).val();
                if (departamentoId != "") {
                    $.getJSON("/Home/ObtenerSubDepartamentosPorDepartamento?departamentoId=" + departamentoId, function (data) {
                        var options = "";
                        $.each(data, function (key, subdepartamento) {
                            options += "<option value='" + subdepartamento.IDsubDepartamento + "'>" + subdepartamento.Nombre + "</option>";
                        });
                        $("#nominas").html(options);
                    });
                }
                else {
                    $("#nominas").html("<option value=''>-- Seleccione un subdepartamento --</option>");
                }
            });
        });
    </script>




</div>
