@{
    ViewData["Title"] = "Gestión de Recetas";
}

<div class="">
    <div class="">
        <div class="row">
            <div class="col-md-2">
                <h5>Área:</h5>
            </div>
            <div class="col-md-3">
                    <select id="departamentos" required class="form-control">
                        <option> Seleccione un área</option>
                    </select>
                
            </div>

            <div class="col-md-2">
                <h5>Subarea:</h5>
            </div>
            <div class="col-md-3">
                <select id="subdepartamentos" required class="form-control">
                    
                </select>
                
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="ContenidoTablaRecetas">
                <table id="TablaRecetas" class="table-hover table-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <td hidden>Id</td>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="cuerpoRecetas"></tbody>
                </table>
            </div>
        </div>
    </div>

  
    <script>
         $("#subdepartamentos,#departamentos").change(function () {
            cargarRecetas();
        });

        var table = $('#TablaRecetas').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "paging": false
        });



        function cargarRecetas()
        {
            var idDepartamento = document.getElementById("departamentos").value;
            var idSubDepartamento = document.getElementById("subdepartamentos").value;
            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/ObtenerRecetaPorDepartamentoySubDepartamento?idDepartamento=" + idDepartamento + "&idSubDepartamento=" + idSubDepartamento,
                success: function (data) {
                    try {
                        var json = JSON.parse(data);
                        table.clear().draw();

                        for (var i in json)
                        {
                            table.row.add($("<tr>" +
                                "<td hidden>" + json[i].idReceta + "</td>" +
                                "<td>" + json[i].nombre + "</td>" +
                                "<td>" + json[i].descripcion + "</td>" +
                                "<td><a class='btn btnPrincipal' onclick='abrirModal(" + json[i].idReceta + ")'><i class='fa-solid fa-eye' title='VerReceta'></i></a></td>" +
                                "<td><a class='btn btnPrincipal' onclick='editarReceta(" + json[i].idReceta + ")'><i class='fa-solid fa-pen-to-square' title='Editar'></i></a></td>" +
                                "<td><a class='btn btnPrincipal' onclick='eliminarReceta(" + json[i].idReceta + ")' ><i class='fa-solid fa-delete-left' title='Eliminar'></i></a></td>" +

                                "</tr > ")).draw(false);

                        }
                    }
                    catch (error) {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al cargar las recetas</h5>'
                        });
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al cargar las recetas</h5>'
                    });
                }
            });
        }
        function abrirModal(id) {
            //window.alert("se ha abierto el modal" + id);
            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/verRecetaEspecifica/",
                data: { idReceta: id },
                success: function (data) {
                    try {
                        var json = JSON.parse(data);
                        console.log(json);

                        /*
                        var ingredientes = json.ingredientes.split("-");
                        var pasos = json.pasos.split("-");
                        for (let i = 0; i < ingredientes.length; i++) {
                            console.log(ingredientes[i]);
                        }
                        for (let i = 0; i < pasos.length; i++) {
                            console.log(pasos[i]);
                        }*/

                        var ingredientes = json.ingredientes.split("-");
                        var listaIngredientes = "";
                        var listaPasos = "";
                        for (let i = 0; i < ingredientes.length - 1; i++) {
                            listaIngredientes += '<li class="list-group-item fw-bold border-0" style="background-color: transparent;color:#fff;">' + ingredientes[i] + '</li>'
                        }
                        var pasos = json.pasos.split("-");
                        for (let i = 0; i < pasos.length - 1; i++) {
                            listaPasos += '<li class="list-group-item fw-bold border-0" style="background-color: transparent;color:#fff;">' + pasos[i] + '</li>'
                        }

                        var modalHtml = '<div class="modal fade" id="mi-modal" tabindex="-1" aria-labelledby="mi-modal-label" aria-hidden="true">' +
                            '<div class="modal-dialog modal-xl">' +
                            '<div class="modal-content" style="background-color: #2599BD;">' +
                            '<div class="modal-header">' +
                            '<h2 class="modal-title fw-bold" id="mi-modal-label" style="color:#f4f4f4;"><img src="/img/Logo.png" width="50" height="50" style="padding: 5px;">Centro Integral Las Nubes</h2>' +
                            '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            '<div class="container-fluid" >' +
                            '<div class="row">' +
                            //titulo y descripción
                            '<div class="col-8" style="text-align: center;padding: 5px;">' +
                            '<h3 class="fw-bold" style="text-align: center;color:#f4f4f4;">' + json.nombre + '</h3>' +
                            '<p class="fw-bold" style="text-align: center;color:#f4f4f4;">' + json.descripcion + '</p>' +
                            '</div>';
                        var carrusel = json.imagenes;
                        var listaImagenesCarrusel = '<div class="col-4" style="text-align: center;padding: 5px;">' +
                            '<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">' +
                            '<div class="carousel-inner">';
                        for (let i = 0; i < carrusel.length; i++) {
                            listaImagenesCarrusel += '<div class="carousel-item active">' +
                                '<img src="' + carrusel[i] + '" class="d-block w-100" style="width: 300px; height: 300px;">' +
                                '</div>';

                        }
                        modalHtml += listaImagenesCarrusel +
                            '</div>' +
                            '<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">' +
                            '<span class="carousel-control-prev-icon" aria-hidden="true"></span>' +
                            '<span class="visually-hidden">Anterior</span>' +
                            '</button>' +
                            '<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">' +
                            '<span class="carousel-control-next-icon" aria-hidden="true"></span>' +
                            '<span class="visually-hidden">Siguiente</span>' +
                            '</button>' +
                            '</div>' +
                            '</div>' +
                            '<div class="row">' +
                            //Lista de ingredientes
                            '<div class="col-4" style="text-align: center;padding: 5px;">' +
                            '<h3 class="fw-bold" style="text-align: center;color:#f4f4f4;">Ingredientes</h3>' +
                            '<ul class="list-group list-group-numbered" style="text-align: center;">' +
                            listaIngredientes +
                            '</ul>' +
                            '</div>' +
                            //Lista de procedimientos
                            '<div class="col-8" style="text-align: center;padding: 5px;">' +
                            '<h3 class="fw-bold" style="text-align: center;color:#f4f4f4;">Instrucciones</h3>' +
                            '<ul class="list-group list-group-numbered" style="text-align: center;">' +
                            listaPasos +
                            '</ul>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';


                        $(modalHtml).appendTo('body');
                        $('#mi-modal').modal('show');
                        $('#mi-modal').on('shown.bs.modal', function () {
                            console.log("3" + json.nombre);
                            $('.carousel').carousel();
                        });
                        $('#mi-modal').on('hidden.bs.modal', function () {
                            $(this).remove();
                            modalHtml = null; // Aquí deberás establecer la variable que contiene la referencia al modal como null
                        });
                    }
                    catch (error) {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al cargar la receta</h5>'
                        });
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al cargar las recetas</h5>'
                    });
                }
            });
        }
    </script>

   
    <script>
        $(document).ready(function () 
        {
            // Carga los departamentos en el primer select
            $.getJSON("/Home/ObtenerDepartamentos", function (data)
            {
                var options = "";
                $.each(data, function (key, departamento)
                {
                    options += "<option value='" + departamento.idDepartamento + "'>" + departamento.nombre + "</option>";
                });
                $("#departamentos").append(options);
            });

            // Agrega un evento change() al primer select para cargar los subdepartamentos
            $("#departamentos").change(function () 
            {
                var idDepartamento = $(this).val(); // Obtiene el id del departamento seleccionado
                if (idDepartamento)
                { // Verifica que se haya seleccionado un departamento
                    $.getJSON("/Home/ObtenerSubDepartamentosPorDepartamento?idDepartamento=" + idDepartamento, function (data) {
                        var options = "";
                        options += "<option> Seleccione una subárea</option>";
                        $.each(data, function (key, subdepartamento)
                        {
                            console.log(subdepartamento);
                            options += "<option value='" + subdepartamento.idSubdepartamento + "'>" + subdepartamento.nombre + "</option>";
                        });
                        $("#subdepartamentos").html(options); // Reemplaza las opciones del segundo select
                    });
                } else {
                    $("#subdepartamentos").html(""); // Si no se seleccionó un departamento, vacía el segundo select
                }
            });
        });


        function eliminarReceta(idReceta) {
            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/eliminarReceta/",
                data: {idReceta:idReceta},
                success: function (data) {
                    if(data == 0){
                        cargarRecetas();

                        swal.fire({
                            icon: 'success',
                            html: '<h5>Receta eliminada con éxito</h5>'
                        });
                    } else {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al eliminar la receta</h5>'
                        }); 
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al eliminar la receta</h5>'
                    });
                }
            });
        }

        function editarReceta(idReceta) {
            window.location.href = '/Home/EditarReceta?idReceta=' + idReceta;
        }

    </script>
 
</div>


