@{
    ViewData["Title"] = "Gestión de Recetas";
}

<div class="">
    <div class="">
        <div class="row">
            <div class="col-md-2">
                <h5>Área:</h5>
            </div>
            <div class="col-md-3">
                <select id="nominas" required class="form-control">
                    <option value="Gastronomia">Gastronomia</option>
                </select>
            </div>

            <div class="col-md-2">
                <h5>Subarea:</h5>
            </div>
            <div class="col-md-3">
                <select id="reporte" required class="form-control">
                    <option value="Cocina">Cocina</option>
                </select>
            </div>
        </div>

        <hr />
        
        <div class="row">
            <div class="ContenidoTablaRecetas">
                <table id="TablaRecetas" class="table-hover table-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <td hidden>Id</td>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="cuerpoRecetas"></tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            cargarRecetas();
        });

        var table = $('#TablaRecetas').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "paging": false
        });



        function cargarRecetas() {
            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/listarRecetas/",
                success: function (data) {
                    try {
                        var json = JSON.parse(data);
                        table.clear().draw();

                        for (var i in json) {

                            table.row.add($("<tr>" +
                                "<td hidden>" + json[i].id + "</td>" +
                                "<td>" + json[i].nombre + "</td>" +
                                "<td>" + json[i].descripcion + "</td>" +
                                "<td style='width: 5%'><button class='btn btnPrincipal' onclick='abrirModal(" + json[i].id + ")'><i class='fa-solid fa-eye' title='VerReceta'></i></button></td>" +
                                "<td><button class='btn btnPrincipal' ><i class='fa-solid fa-pen-to-square' title='Editar'></i></button></td>" +
                                "<td><button class='btn btnPrincipal'><i class='fa-solid fa-delete-left' title='Eliminar'></i></button></td>" +

                                "</tr > ")).draw(false);

                        }
                    }
                    catch (error) {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al cargar las recetas</h5>'
                        });
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al cargar las recetas</h5>'
                    });
                }
            });
        }
        function abrirModal(id) {
            //window.alert("se ha abierto el modal" + id);
            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/verRecetaEspecifica/",
                data: { idReceta: id},
                success: function (data) {
                    try {
                        var json = JSON.parse(data);
                        console.log(json);
                        
                        var modalHtml = '<div class="modal fade" id="mi-modal" tabindex="-1" aria-labelledby="mi-modal-label" aria-hidden="true">' +
                            '<div class="modal-dialog modal-xl">' +
                            '<div class="modal-content" style="background-color: #2599BD;">' +
                            '<div class="modal-header">' +
                            '<h2 class="modal-title fw-bold" id="mi-modal-label" style="color:#f4f4f4;"><img src="/img/Logo.png" width="50" height="50" style="padding: 5px;">Centro Integral Las Nubes</h2>' +
                            '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            '<div class="container-fluid" >' + 
                            '<div class="row">' + 
                            //titulo y descripción
                            '<div class="col-4" style="text-align: center;padding: 5px;">' +
                            '<h3 class="fw-bold" style="text-align: center;color:#f4f4f4;">Nombre</h3>' +
                            '<p class="fw-bold" style="text-align: center;color:#f4f4f4;">sdfadsfdasfdsfdsfdsafasdfdsafdadsfs</p>' +
                            '</div>' +
                            //carrusel
                            '<div class="col-8" style="text-align: center;padding: 5px;">' +
                            '<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">' +
                            '<div class="carousel-inner">' +
                            '<div class="carousel-item active">' +
                            '<img src="/img/verduras.jpg" class="d-block w-100" alt="Verduras" style="width: 300px; height: 300px;">' +
                            '</div>' +
                            '<div class="carousel-item">' +
                            '<img src="/img/cebolla.jpg" class="d-block w-100" alt="Cebolla" style="width: 300px; height: 300px;">' +
                            '</div>' +
                            '<div class="carousel-item">' +
                            '<img src="/img/zanahoria.jpg" class="d-block w-100" alt="Zanahoria" style="width: 300px; height: 300px;">' +
                            '</div>' +
                            '</div>' +
                            '<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">' +
                            '<span class="carousel-control-prev-icon" aria-hidden="true"></span>' +
                            '<span class="visually-hidden">Anterior</span>' +
                            '</button>' +
                            '<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">' +
                            '<span class="carousel-control-next-icon" aria-hidden="true"></span>' +
                            '<span class="visually-hidden">Siguiente</span>' +
                            '</button>' +
                            '</div>' +
                            '</div>' +
                            '<div class="row">' +
                            //Lista de ingredientes
                            '<div class="col-4" style="text-align: center;padding: 5px;">' +
                            '<h3 class="fw-bold" style="text-align: center;color:#f4f4f4;">Ingredientes</h3>' +
                            '<ul class="list-group list-group-numbered" style="text-align: center;">' +
                            '<li class="list-group-item fw-bold border-0" style="background-color: transparent;color:#fff;">Elemento</li>' +
                            '<li class="list-group-item fw-bold border-0" style="background-color: transparent;color:#fff;">Elemento</li>' +
                            '<li class="list-group-item fw-bold border-0" style="background-color: transparent;color:#fff;">Elemento</li>' +
                            '</ul>' +
                            '</div>'+
                            //Lista de procedimientos
                            '<div class="col-8" style="text-align: center;padding: 5px;">' +
                            '<h3 class="fw-bold" style="text-align: center;color:#f4f4f4;">Instrucciones</h3>' +
                            '<ul class="list-group list-group-numbered" style="text-align: center;">' +
                            '<li class="list-group-item fw-bold border-0" style="background-color: transparent;color:#fff;">Elemento 1 Elemento 1 Elemento 1 Elemento 1 Elemento 1</li>' +
                            '<li class="list-group-item fw-bold border-0" style="background-color: transparent;color:#fff;">Elemento 1 Elemento 1 Elemento 1 Elemento 1 Elemento 1</li>' +
                            '<li class="list-group-item fw-bold border-0" style="background-color: transparent;color:#fff;">Elemento 1 Elemento 1 Elemento 1 Elemento 1 Elemento 1</li>' +
                            '</ul>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        $(modalHtml).appendTo('body');
                        $('#mi-modal').modal('show');
                        $('#mi-modal').on('shown.bs.modal', function () {
                            $('.carousel').carousel();
                        });
                    }
                    catch (error) {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al cargar la receta</h5>'
                        });
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al cargar las recetas</h5>'
                    });
                }
            });
        }
    </script>
</div>


