@{
    ViewData["Title"] = "Gestión de Usuarios";
}

<div class="">
    <div class="">
        <div class="row">
            <div class="col-md-2">
                <h5>Usuario:</h5>
            </div>
            <div class="col-md-3">
                <input type="text" id="usuario" class="form-control" />
            </div>

            <div class="col-md-2">
                <h5>Nombre:</h5>
            </div>
            <div class="col-md-3">
                <input type="text" id="nombre" class="form-control" />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="ContenidoTablaUsuarios">
                <table id="TablaUsuarios" class="table-hover table-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <td hidden>Id</td>
                            <td>Nombre</td>
                            <td>Usuario</td>
                            <td>Contraseña</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="cuerpoUsuario"></tbody>
                </table>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            cargarUsuarios();
        });

        var table = $('#TablaUsuarios').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "paging": false
        });



        function cargarUsuarios() {
            $.ajax({
                type: 'POST',
                url: Ruta + "/Home/listarUsuarios/",
                success: function (data) {
                    try {
                        var json = JSON.parse(data);
                        table.clear().draw();

                        for (var i in json) {

                            table.row.add($("<tr>" +
                                "<td hidden>" + json[i].id + "</td>" +
                                "<td>" + json[i].nombre + "</td>" +
                                "<td>" + json[i].usuario + "</td>" +
                                "<td>" + json[i].contrasena + "</td>" +
                                "<td><a class='btn btnPrincipal' ><i class='fa-solid fa-pen-to-square' title='Editar'></i></a></td>" +
                                "<td><a class='btn btnPrincipal' ><i class='fa-solid fa-delete-left' title='Eliminar'></i></a></td>" +

                                "</tr > ")).draw(false);

                        }
                    }
                    catch (error) {
                        swal.fire({
                            icon: 'error',
                            html: '<h5>Error al cargar las recetas</h5>'
                        });
                    }
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        html: '<h5>Error al cargar las recetas</h5>'
                    });
                }
            });
        }
    </script>
</div>
