

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    -webkit-animation: spin .7s linear infinite;
    -moz-animation: spin .7s linear infinite;
    animation: spin .7s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.preloader img {
    width: 100%;
}




.card-header {
    background: #F3F3F3;
}

.btnPrincipal {
    color: #FFFFFF;
    background-color: #2599BD;
    border-color: #2599BD;
    outline: none;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
}

    .btnPrincipal:hover {
        background-color: #2599BD;
        color: #FFFFFF;
    }

.btnSuccess {
    border: 1px solid rgb(135, 191, 24);
    outline: none;
    width: 100%;
    background-color: #f2f2f2;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 600;
}

    .btnSuccess:hover {
        background-color: rgb(135, 191, 24);
        color: #FFFFFF;
    }

.btnCancel {
    background-color: #c70000;
    outline: none;
    width: 100%;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 600;
}

    .btnCancel:hover {
        background-color: #DD0000;
        color: #FFFFFF;
    }

.row {
    margin-bottom: 1%;
}
