html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tituloLogin {
    color: #D37F84;
}

.recuadroLogin {
    border: 0px;
}

.headerLogin {
    background-color:#ffffff;
}

.botonLogin {
    background-color: #D37F84;
    color: #ffffff;
    width: 100%;
    border: 1px solid #D37F84;
}

.botonLogin:hover {
    background-color: #E17B81;
    color: #ffffff;
    width: 100%;
    border: 1px solid #E17B81;
}